node_modules/
*.log
.DS_Store
*.tsbuildinfo
packages/*/dist/
extension/*.js
extension/content.css
extension/options.css
extension/options.html
extension/manifest.json
extension/vendor/*.js
extension/vendor/xterm.css
