*.tgz
*.tsbuildinfo
*.map

packages/*/src/
packages/*/tsconfig.json
packages/*/tsconfig.tsbuildinfo
packages/*/dist/**/*.map

packages/extension-src/src/
packages/extension-src/tsconfig.json

tests/
.github/
.changeset/

CONTRIBUTING.md
CODE_OF_CONDUCT.md
